# Default ignored files
/shelf/
/.idea
/.idea/misc.xml
/.venv
visualizer.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*/__pych
__pycache__/
*.py[cod]
*$py.class

.vscode/settings.json
